.container {
	display: flex;
	justify-content: space-around;
}

.assetCard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 254px;
	height: 298px;
	background-color: #1a1c24;
	border-radius: 35px;
}
.assetCard .description {
	color: white;
	font-weight: 500;
	font-size: 1.25rem;
	margin-top: 10px;
}

.assetCard .icon {
	margin-top: 10px;
}

.assetCard .symbol {
	margin-top: 10px;
}

.assetCard .amount {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 10px;
}

.assetCard .label {
	font-weight: medium;
	font-size: 1rem;
	margin-top: 10px;
}

.textWhite {
	color: white;
}

.textGreen {
	color: #62ff97;
}

.textRed {
	color: #ff6262;
}

.textYellow {
	color: #fff962;
}
