.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.assetCard {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 223.5px;
  background-color: #1a1c24;
  border-radius: 35px;
  padding: 10px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }
}

.assetCard .description {
  color: white;
  font-weight: 500;
  font-size: 0.9375rem;
  margin-top: 10px;
  text-align: center;
}

.assetCard .icon {
  margin-top: 10px;
}

.assetCard .symbol {
  margin-top: 10px;
}

.assetCard .amount {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10px;
}

.assetCard .label {
  font-weight: medium;
  font-size: 1rem;
  margin-top: 10px;
}

.textWhite {
  color: white;
}

.textGreen {
  color: #62ff97;
}

.textRed {
  color: #ff6262;
}

.textYellow {
  color: #fff962;
}
