.sidebar {
	background-color: #17181c;
	color: #fff;
	width: 16rem;
	z-index: 50;
}

.sidebarLink {
	display: block;
	padding: 0.75rem 1rem;
	font-size: 1rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	border-radius: 0.5rem;
	transition: all 0.2s ease-in-out;
}

.sidebarLink:hover {
	color: #ccc;
	background-color: #7b62ff;
	border-radius: 0.5rem;
}
