@tailwind base;
@tailwind components;
@tailwind utilities;
@import "simple-datatables/dist/style.css";

@layer base {
  html,
  body {
    @apply dark:bg-phBlack;
  }
}

/* simple-datatables styles */
.datatable-container {
  background-color: #363636;
  border-radius: 10px;
}

.datatable-table {
  background-color: #363636;
  border-radius: 10px;
  min-width: 840px;
}

.datatable-table tbody tr:nth-child(odd) {
  background-color: #292929;
}

.datatable-table th {
  color: #fff;
}
.datatable-table > thead > tr > th,
.datatable-table > tbody > tr > td {
  vertical-align: middle;
}

.datatable-sorter {
  color: #fff;
  font-size: 12px;
}
.datatable-sorter::before {
  border-top-color: #fff;
}
.datatable-sorter::after {
  border-bottom-color: #fff;
}
.datatable-dropdown label {
  color: #fff;
}
.datatable-selector {
  color: #000;
  background-color: #e5e7eb;
  border-radius: 5px;
  margin-right: 6px;
}

.datatable-search .datatable-input {
  border-radius: 5px;
  background-color: #e5e7eb;
}

.datatable-info {
  color: #fff;
}

.datatable-pagination-list-item a {
  color: #fff;
}
.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination a:focus,
.datatable-pagination a:hover {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
